/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/examples/roda/public
/examples/roda/build
/node_modules/
package-lock.json

.DS_STORE
*.swp
/Gemfile.lock

# rspec failure tracking
.rspec_status
